DATABASE_URL="postgresql://test:test@localhost:5143/some_db?schema=public"
PORT=8000
NODE_ENV=development
TRUST_PROXY=1
ADMIN_USERNAME="someusername"
ADMIN_PASSWORD="somepasswrod"
FE_URL="https://someurl.com,https://www.someurl.com"
